/* =========================================================
   CANVAS
========================================================= */

#canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--hud-height));
  display: block;
}
