/* =========================================================
   GRID BANCO
========================================================= */

.bank-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
}
